
.image-login{
    height: 100vh;
    background-image: url(../../Assets/Img/img_logreg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

form{
    border: none !important;
    border-radius: 0px !important;
    background: none !important;
}

.box-login {
    min-height: 100vh;
}

.form-login {
    height: 100%;
}

