.content-filter-mobile{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 2% 0%;
}
.icon-mobile{
  width: 1rem;
}
.btn-filter-mobile{
  font-size: 2vw;
  border-style: none;
  width: 100px;
  height: 5%;
  background-color: #E2D4F0;
  border-radius: 12px;
}
.btn-filter-mobile:hover{
background: #7126B5;
color: white;
}
.active-home{
  background: #7126B5 !important;
}

.btn-plus{
background: #7126B5;
color: white;
border-style: none;
width: 20%;
height:5%;
position: fixed;
bottom: 20px;
border-radius: 12px;
left:40%;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.btn-plus:hover{
background: #4B1979;
}
.slide2{
  width: 100%;
}
.hm-img{
  width: 100%;
}


/* .btn-filter span{
  font-size: 2vw;
} */

.offcanvas{
  width: 60% !important;
}

.mobile-content-menu{
  display: flex;
  flex-direction: row;
  gap:10px
  /* justify-content: space-between; */
}
/* .home{
  position: relative;
  top:0px;
  margin-bottom: -40px;
} */

.mobile-float-menu{
  background-color: transparent;
  border: none;
  padding: 5px;
}

@media screen and (max-width: 426px) {
  .swiper-slide img {
    border-radius: 0;
    box-shadow: none;
  }
}

