.color-black{
    color: black !important;
}
.ip-button-preview{
    border: none;
    background-color: #FFFFF2;
    outline: #7126B5 solid 2px;
    border-radius: 10px;
    padding: 1% 5%;
    margin-bottom: 5%;
}
.ip-button-send{
    color: #FFFFF2;
    border: none;
    background-color: #7126B5;
    border-radius: 10px;
    padding: 1% 5%;
    margin-bottom: 5%;
}

/* ---- Desktop ---- */
.ip-content-button{
    display: flex;
    justify-content: flex-end;
}
.ip-content-button button{
    border: none;
    background-color: transparent;
    border-radius: 50%;
}
.ip-content-button button:hover{
    background-color: lightgray;
    color: blue;
}
.ip-content-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.ip-box-input{
    display: flex;
    flex-direction: column;
}
.ip-box-input label{
    font-weight: bold;
}
.ip-box-input input{
    border: 2px solid lightgray;
}
.ip-box-input select{
    border: 2px solid lightgray;
    border-radius: 10px;
    padding: 2px 18px;
    color: gray;
}
.ip-box-input textarea{
    border: 2px solid lightgray;
    border-radius: 10px;
    padding: 2px 18px;
    color: gray;
}
.input-image{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid lightgray;
    border-radius: 10px;
    padding: 2px 18px;
    color: gray;
}
.input-image 
    input,
    input::-webkit-file-upload-button{
    border: none;
}
.input-image img{
    border: 2px dashed gray;
    width: 150px;
    height: 150px;
}
.ip-box-button{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}




/* ---- Mobile ---- */
.ipm-header{
    padding: 2% 0% 2% 0%; 
    box-shadow: 0px 0px 1px rgb(0, 0, 0.25);
}
.ipm-content-button{
    border: 2px solid black;
    border: none;
    background-color: transparent;
    border-radius: 50%;
}
.ipm-content-button:hover{
    background-color: lightgray;
    color: blue;
}
.ipm-content-title{ 
    text-align: center;
    font-weight: bolder;
}
.ipm-body{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.ipm-body-input{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    padding: 0% 8%;
}
.ipm-body-input input{
    border: 2px solid lightgray;
}
.ipm-body-input select{
    border: 2px solid lightgray;
    border-radius: 10px;
    padding: 2px 18px;
    color: gray;
}
.ipm-body-input textarea{
    border: 2px solid lightgray;
    border-radius: 10px;
    padding: 2px 18px;
    color: gray;
}
.ipm-body-inputImage{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid lightgray;
    border-radius: 10px;
    color: gray;
    padding: 5% 2%;
}
.ipm-body-inputImage input{
    border: none;
}
.ipm-body-inputImage img{
    border: 2px dashed lightgray;
    width: 100px;
    height: 100px;
}
.ipm-body-buttonAction{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin: 5% 0%;
}