.btn-edit{
    border-radius: 8px;
    border: 1px solid #7126B5;
    background: #FFFFFF;
    width: 4rem;
    height: 2rem;
    margin-top: 0.5rem;
}
.btn-edit:hover{
    background: #7126B5;
    color: white;
}
.btn{
    border-style: none;
    font-size:1rem;
}
.btn:hover{
    color:#7126B5;
    background:white;
}
.btn-dt{
    width: auto !important;
    height: 6vh !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.btn-dt span{
    font-size: 2vw !important;
}