
.image-Register{
    height: 100vh;
    background-image: url(../../../Assets/Img/img_logreg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.box-Register {
    min-height: 100vh;
}

.form-Register {
    height: 100%;
}

.link {
    color: #0D28A6;
    text-decoration: none;
    margin-top: 40px;
}
