.btn-edit{
    border-radius: 8px;
    border: 1px solid #7126B5;
    background-color: #FFFFFF;
    width: 4rem;
    height: 2rem;
    margin-top: 0.5rem;
}
.btn-edit:hover{
    background: #7126B5;
    color: white;
}
.btn{
    border-style: none;
    font-size:0.9rem;
}
.btn:hover{
    color:#7126B5;
    background:white;
}
.box-action-df{
    padding: 10px 20px;
    background: #FFFFF2;
    box-shadow: 0 0px 10px rgba(0,0,0,15%);
    border-radius: 16px;
}
.btn-dt-d{
    font-size: 1vw;
}
.dj-NotFound{
    width: 100%;
    height: 15em;
}
.djd-img-profile{
    width: 60px;
    height: 60px;
    border-radius: 5px;
}