body {
  font-family:  'Poppins', sans-serif !important;
  font-size: 14px;
  background-image: url(./Assets/Img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
.container-content{
  padding-top: 2%;
}
.color-content{
  background-color: #FFFFF2;
}